4th Year/[EDC] TP1 - Movie and TV-Show Information Django Website based on XML and related technologies/app/api_ID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="movieType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="title"/>
        <xs:attribute type="xs:string" name="year"/>
        <xs:attribute type="xs:string" name="rated"/>
        <xs:attribute type="xs:string" name="released"/>
        <xs:attribute type="xs:string" name="runtime"/>
        <xs:attribute type="xs:string" name="genre"/>
        <xs:attribute type="xs:string" name="director"/>
        <xs:attribute type="xs:string" name="writer"/>
        <xs:attribute type="xs:string" name="actors"/>
        <xs:attribute type="xs:string" name="plot"/>
        <xs:attribute type="xs:string" name="language"/>
        <xs:attribute type="xs:string" name="country"/>
        <xs:attribute type="xs:string" name="awards"/>
        <xs:attribute type="xs:string" name="poster"/>
        <xs:attribute type="xs:string" name="metascore"/>
        <xs:attribute type="xs:string" name="imdbRating"/>
        <xs:attribute type="xs:string" name="imdbVotes"/>
        <xs:attribute type="xs:string" name="imdbID"/>
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="movieType" name="movie"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="response"/>
  </xs:complexType>
</xs:schema>